body { background: #3ece53; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 27px; display: flex; }
.block-auth-0 { color: #dde9f0; font-size: 21px; margin-bottom: 5px; }
.block-cart-1 { color: #a22960; font-size: 21px; margin-bottom: 5px; }
.block-database-2 { color: #e78d35; font-size: 20px; margin-bottom: 5px; }
.block-uploader-3 { color: #fa06d; font-size: 12px; margin-bottom: 5px; }
.block-filter-4 { color: #295a7f; font-size: 13px; margin-bottom: 5px; }